.wrap {
  background-color: rgb(193, 214, 231);
  width: 900px;
  margin: 10px auto;
}

.wrap .header {
  background: rgb(241, 196, 113);
  padding: 2px 10px;
  text-align: center;
}

.banner {
  margin-bottom: 15px;
}

.banner img {
  display: block;
  width: 100px;
  height: 330px;
}

.wrap .menu {
  background: rgb(155, 192, 231);
}

.wrap .menu ul {
  padding: 0;
  margin: 0;
  background: rgb(244, 198, 157);
  overflow: hidden;
}

.wrap .menu ul li {
  float: left;
  list-style-type: none;
  padding: 10px;
}

.clear {
  clear: both;
}

.badan {
  height: 450px;
}

.wrap .badan .sidebar {
  background: rgb(204, 158, 97);
  float: left;
  width: 25%;
  height: 100%;
}

.wrap .badan .content {
  background: rgb(157, 115, 98);
  float: left;
  width: 75%;
  height: 100%;
}

.wrap .footer {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
